meta(charset="utf-8")
meta(http-equiv="Content-Type", content="Type=text/html; charset=utf-8")
meta(name="author", content="Erhan Gundogan")
meta(http-equiv="Content-Style-Type", content="text/css")
meta(http-equiv="Content-Script-Type", content="text/javascript")
